
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #043873;
    color: white;
    padding: 10px 0;
}

.header__title {
    margin-left: 10px;
    margin-bottom: 4px;
}