@import url('./styles/header.css');
@import url('./styles/footer.css');
@import url('./styles/comment.css');

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__add-comments {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.app__add-comments-btn {
  background-color: #FFE492;
  border: 0;
  outline: none;
  padding: 8px 12px;
  font-weight: 700;
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

